
/* ===============================
   PARTNER PAGE STYLES
   =============================== */


/* ===============================
   SUBNAV
   =============================== */

section.partners-subnav {
	background-color: @color-swatch7;
	padding: 0;
	z-index: 9999;

	h2 {
		line-height: 110px;
		@media @tablet {
			line-height: 100px;
		}
		@media @mobile {
			line-height: 80px;
		}
	}

	ul {
		width: 100%;
		float: right;
		margin-right: -5%;
		@media @mobile {
			display: none;
		}

		li {
			float: left;
			display: inline-block;
			width: 25%;
			height: 100%;
			text-align: center;

			&.selected {
				color: @color-swatch1;
				i, a {
					color: @color-swatch1;
				}
			}

			h5 {
				text-shadow: none;
			}

			a {
				display: block;
				margin: 1.5em 0 0;
				text-decoration: none;
				color: #a3a3a3;

				&:hover {
					color: @color-swatch3;
					i {
						color: @color-swatch3;
					}
				}

				@media @tablet {
					margin: 1.2em 0 0;
				}

				i {
					display: block;
					margin: 0 0 5px;
					font-size: 1.4em;

					&.bk {
						height: 24px;
						width: 29px;
						margin: 0 auto 5px;
						background-image: image('/images/bk-subnav.png');
						background-repeat: no-repeat;
						background-position: left center;
					}
				}
			}
		}
	}
}

.scroller_anchor{
	height: 0px; 
	margin: 0; 
	padding: 0;
}


/* ===============================
   SIGNUP FORM
   =============================== */

section.signup-form {
	background-color: @color-swatch3;
	padding: 1em 0 0;
	@media @tablet {
		padding: 0;

		.columns {
			&.span-70-30 {
				.column {
					&.span-70 {
						width: 100%;
					}
					&.span-30 {
						display: none;
					}
				}
			}
		}

		h3 {
			white-space: nowrap;
		}

	}

	.partner-title {
		position: relative;
		bottom: -60px;
		ul.points {
			float: right;

			li {
				display: inline-block;
				float: left;

				i {
					font-size: 6px;
					color: darken(@color-swatch3,12%);
					margin: 0 20px;
					vertical-align: middle;
					line-height: 30px;
				}
			}
		}
		.span-70 {
			@media @tablet {
				display: none;
			}
		}
	}

	.standout-container {
		position: relative;
		bottom: -60px;
		background-color: @color-swatch1;
		margin: 1.2em 0 0;
		.rounded-corners;
		border: 1px solid #eaeaea;
		box-shadow: 0 0 24px rgba(110,110,110,0.1);

		/* FORM */
		form {
			padding: 0;
			@media @tablet {
				border-right: 0;
			}

			label {
				display: block;
				width: 90%;
				margin: 1.7em 0 0.6em;

				&.error {
					background-color: #FFEFEF;
					padding: 2px 5px;
					width: 84%;
					.border-radius(3px);
					.p-font;
					font-size: 11px;
					color: #E77272;
					margin: 10px 0 0;
				}

				&.mobHide {
					@media @mobile {
						display: none;
					}
				}
			}

			.span-two-left {
				@media @mobile {
					margin: 0!important;
				}
			}

			fieldset {
				border: 0;
				padding: 0;
				margin: 0;
			}

			input {
				width: 90%;
				height: 48px;
				margin: 0;
				background-color: @lightGrey;
				.rounded-corners;
				.box-sizing;
				border: 1px solid #e6e6e6;
				text-indent: 12px;
				.p-font;
				font-size: 14px;

				@media @mobile {
					width: 100%;
				}

				&:focus {
					outline: none;
					background-color: @color-swatch1;
					border: 1px solid @color-swatch3;
					-webkit-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
				}

				&.email-address {
					width: 95%;
					@media @mobile {
						width: 100%;
					}
				}

				&.telephone {
					@media @mobile {
						margin-bottom: 3em;
					}
				}
			}

			.select-style {
			    border: 1px solid #e6e6e6;
			    width: 90%;
			    @media @mobile {
					width: 100%;
				}
				.rounded-corners;
			    overflow: hidden;
			    background: @lightGrey image('/images/select-arrow.png') no-repeat 94% 50%;

			    &:hover {
			    	border: 1px solid @color-swatch3;
					-webkit-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
					background: @color-swatch1 image('/images/select-arrow-hov.png') no-repeat 94% 50%;
			    }

			    select {
			    	width: 101%;
			    	text-indent: 12px;
				    border: none;
				    .box-sizing;
				    box-shadow: none;
				    background: transparent;
				    background-image: none;
				    -webkit-appearance: none;
				    .p-font;
				    color: #929292;
				    font-size: 14px;
				    cursor: pointer;
				    padding: 10px 0;

				    &:focus {
					    outline: none;
					}
				}
			}

			.userbase-fields,
			.company-website {
				margin: 3em 0 0;
			}

			.button {
				margin: 2px 0 26%;
				padding: 15px 20px 13px;
				@media @mobile {
					margin: 7% 0 20%;
				}
			}
		}

		.left-content {
			padding: 40px 30px 0;
			border-right: 1px solid #d7d7d7;
			&.partnerlist {
				padding: 0;
			}
			@media @tablet {
				border-right: 0;
			}

			.partnerlist-intro {
				width: 100%;
				padding: 40px 30px 20px;
				.box-sizing;
				P {
					margin: 1.8em 0;
				}
			}

			.partner-table {
				display: table;
				width: 100%;

				.col1 {
					width: 40%;
					float: left;
					box-shadow: inset -1px 0px 0 #eaeaea;
					.thead {
						border-right: 1px solid #eaeaea;
					}
					@media @mobile {
						width: 100%;
					}
				}
				.col2 {
					width: 60%;
					float: left;
					@media @mobile {
						display: none;
					}
				}
				.thead {
					background-color: #fbfbfb;
					padding: 16px 30px; 
					border-top: 1px solid #eaeaea;
					border-bottom: 1px solid #eaeaea;
				}
				.trow {
					display: table;
					.box-sizing;
					padding: 0 30px;
					height: 135px;
					border-bottom: 1px solid #eaeaea;
					width: 100%;
					&:last-child {
						border-bottom: 0;
					}
					@media @tablet {
						height: 100px;
					}
					@media @tablet {
						height: 130px;
					}

					.sj {
						color: #00ccd2;
					}
					.123reg {
						color: #34a5d9;
					}

					.tinner {
						display: table-row;
						.tinner1 {
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
				h4 {
					white-space: nowrap;
				}
				img {
					max-width: 80%;
					@media @tablet {
						max-width: 65%;
					}
					@media @mobile {
						max-width: 50%;
						margin: 0 0 10px;
					}
				}
			}
		}

		/* RIGHT CONTENT */
		.right-content {
			position: absolute;
			.box-sizing;
			background-color: @lightGrey;
			padding: 40px 30px;
			height: 100%;
			-webkit-border-top-right-radius: 7px;
			-webkit-border-bottom-right-radius: 7px;
			-moz-border-radius-topright: 7px;
			-moz-border-radius-bottomright: 7px;
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;

			p {
				margin: 1.8em 0 0;
			}

			img {
				margin: 2.4em 0 0;
			}

			a {
				float: left;
				font-size: 14px;
				margin: 2.7em 0 0;
			}
		}
	}
}

.overlay {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 360px;
    padding: 50px 0;
    margin-left: -150px;
    margin-top: -100px;
    background-color: @color-swatch1;
    text-align: center;
    z-index: 10; 
    outline: 9999px solid rgba(0,0,0,0.5);
    p {
    	padding: 10px 0 0;
    }
}


/* ===============================
   WHY BASEKIT
   =============================== */

section.why-basekit {
	padding: 9em 0 6em;

	.bkconversion {

		.span-three-left {
			@media @tablet {
				width: 45%!important;
				margin-right: 5%!important;
				margin-bottom: 10%;
			}
			@media @mobile {
				width: 100%!important;
			}
		}

		.span-three-middle {
			@media @tablet {
				width: 50%!important;
				margin: 0%!important;
			}
			@media @mobile {
				width: 100%!important;
			}
		}

		.span-three-right {
			@media @tablet {
				width: 100%!important;
				margin: 0%!important;
			}
		}

		.conversion-left {
			margin: 1.7em 0 0;
		}

		.conversion-right {
			margin: .3em 0 0;
			.left {
				@media @tablet {
					float: left;
					width: 45%;
					margin-right: 5%;
				}
				@media @mobile {
					width: 100%!important;
					margin: 10% 0;
				}
			}
			.right {
				margin-top: 2.5em;
				@media @tablet {
					float: left;
					width: 45%;
					margin-left: 5%;
					margin-top: 0;
				}
				@media @mobile {
					width: 100%!important;
					margin: 0;
				}
			}

		}

	}

	.conversion-circle {

		img {
			max-width: 101%;
			@media @tablet {
				max-width: 75%;
				.margin-center;
				margin-top: 0.5em;
				position: relative;
				right: -14px;
			}
			@media @mobile {
				max-width: 70%;
				display: initial;
			}
		}

		/*display: table-cell;
		vertical-align: middle;
		background-color: @color-swatch2;
		height: 285px;
		width: 285px;
		text-align: center;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;

		h5 {
			color: @color-swatch1;
			font-size: 5.5em;
			letter-spacing: -4px;
			line-height: 1em;
		}
		p {
			font-family: @font-swatch2-font-family;
			font-size: 18px;
			color: @color-swatch1;
			line-height: 22px;
			letter-spacing: -1px;
		}*/
	}

	.info-blocks {
		margin: 5em 0 0;
	}

}

.info-blocks {
	margin: 3em 0 0;
	@media @tablet {
		margin: 2.5em 0 0;
	}
	i {
		font-size: 2em;
		margin: 9px 20px 0 0;
		color: @color-swatch3;
		vertical-align: middle;
		@media @tablet {
			display: none;
		}
	}
}

/* ===============================
   UNDER BLOCKS
   =============================== */

section {
	&.under-blocks {
		@media @tablet {
			padding: 6em 0 5em;
		}
	}
}


/* ===============================
   BECOME A PARTNER
   =============================== */

section.become-partner {
	text-align: center;
	padding: 6em 0 0;
	@media @tablet {
		padding: 4em 0 0;
	}
	@media @mobileSml {
		padding: 3em 0 0;
	}

	h5 {
		max-width: 70%;
		margin: 0 auto;
		@media @tablet {
			max-width: 100%;
		}
	}

	.partner-steps {
		margin: 2em 0 0;
		position: relative;
		bottom: -70px;
		@media @tablet {
			margin: 0;
		}
		@media @mobile {
			top: 80px;
			margin-top: -30px;
		}

		.step {
			position: relative;
			padding: 2.4em 0;
			background-color: @color-swatch3;
			.rounded-corners;
			box-shadow: 0 3px 0px darken(@color-swatch3,10%);

			@media @tablet {
				padding: 2em 0;
			}
			@media @mobile {
				max-width: 75%;
				margin: 0 auto 2em;
				display: block;
			}
			@media @mobile {
				max-width: 85%;
			}

			.number {
				position: absolute;
				top: -20px;
				left: -18px;
				background-color: lighten(@color-swatch7,7%);
				height: 40px;
				width: 40px;
				.p-font;
				line-height: 40px;
				color: @color-swatch1;
				font-size: 22px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				@media @tablet {
					line-height: 38px;
					font-size: 19px;
					height: 35px;
					width: 35px;
					top: -18px;
				}
			}

			h3 {
				font-size: 28px;
				@media @tablet {
					font-size: 21px;
				}
				@media @mobile {
					font-size: 28px;
				}
				@media @mobileSml {
					font-size: 26px;
				}
			}

			img {
				padding: 2.4em 0 0;
				@media @tablet {
					max-width: 80%;
				}
			}
		}
	}
}

/* BECOME A PARTNER SUB */

section.become-partner-sub {
	padding: 7em 0 6em;
	@media @tablet {
		padding: 8em 0 4em;
	}
	@media @mobile {
		padding: 7em 0 5em;
	}
}

.subsignup {
	margin: 6em 0 0;
	background-color: @lightGrey;
	border: 1px solid darken(@lightGrey,10%);
	padding: 3em 3em 2.5em;
	.rounded-corners;
	box-shadow: 0 0 10px rgba(150,150,150,0.1);
	@media @tablet {
		margin: 4em 0 0;
		padding: 2em;
	}
	@media @mobile {
		text-align: center;
		padding: 1.5em;
	}

	
	.column {
		&.span-70 {
			@media @mobileSml {
				display: none;
			}
		}
	}


	a.button {
		float: right;
		position: relative;
		top: -1px;
		@media @tablet {
			top: -3px;
		}
		@media @mobile {
			width: 100%;
			.box-sizing;
			margin: 0.5em 0 0;
		}
		@media @mobileSml {
			margin: 0;
		}
	}

	h2 {
		&.nopad {
			padding: 0;
			line-height: 44px;
		}
		@media @mobile {
			font-size: 26px;
		}
	}

	h5 {
		@media @tablet {
			display: none;
		}
	}
}


/* ===============================
   DEVICE SWITCHER
   =============================== */

section.device-switcher {
	padding: 6em 0 0;
	background-color: @color-swatch7;

	@media @tablet {
		text-align: center;

		.columns {
			&.span-50-50 {
				.column {
					&.span-two-left {
						width: 100%;
						margin: 0 0 10%;
					}
					&.span-two-right {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}

	@media @mobile {
		padding: 4em 0 0;
	}

	.device-content {
		margin: 6em 0 0;
		@media @tablet {
			margin: 3em 0 0;
		}

		img.tablet-wht {
			position: relative;
			left: -468px;
			bottom: -4px;
			max-width: inherit;
			@media @tablet {
				max-width: 80%;
				display: block;
				margin: 0 auto;
				left: 0;
				bottom: 0;
			}
		}

		.right-text {
			margin: 3em 0 0;
			@media @tablet {
				max-width: 64%;
				margin: 3em auto 0;
			}
			@media @mobile {
				margin: 0;
				max-width: 100%;
			}
		}
	}
	
	p {
		font-size: 18px;
		max-width: 90%;
		@media @tablet {
			max-width: 100%;
		}
		@media @mobile {
			font-size: 16px;
		}
		&.first {
			max-width: 80%;
			margin: 0 0 1.8em;
			@media @tablet {
				max-width: 100%;
			}
			@media @mobile {
				max-width: 100%;
			}
		}
	}

}


/* ===============================
   TESTIMONIALS
   =========================== */

section.testimonials {

	@media @tablet {
		.columns {
			&.span-30-31-30 {
				.column {
					&.span-three-left {
						width: 47.5%!important;
						margin-right: 2.5%!important;
					}
					&.span-three-middle {
						width: 47.5%!important;
						margin-left: 2.5%!important;
						margin-right: 0%!important;
					}
					&.span-three-right {
						display: none;
					}
				}
			}
		}
	}

	.quotes {
		margin: 5em 0 0;
		@media @mobile {
			margin: 4em 0 0;
		}

		h3 {
			font-size: 18px;
			text-align: center;
			span {
				font-family: 'proxima-nova'!important;
				font-size: 14px;
				margin-left: 4px;
				letter-spacing: 0;
			}
			@media @mobile {
				margin: 0;
			}
		}

		img {
			display: block;
			margin: 0 auto 1.5em;
			&.hg-logo {
				margin-top: -10px; 
				margin-bottom: 13px;
				@media @tablet {
					margin-top: -16px;
				}
			}
		}

		.quote {
			background-color: @lightGrey;
			border: 1px solid darken(@lightGrey,10%);
			padding: 30px;
			margin-bottom: 1em;
			.rounded-corners;
			box-shadow: 0 0 10px rgba(150,150,150,0.1);
		}
	}
	
}











