.responsivecolumns
{
	width: 100%;
	display:block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.responsivecolumns:before,
.responsivecolumns:after 
{
    content: " ";
    display: table;
}

.responsivecolumns:after 
{
    clear: both;
}

.responsivecolumns
{
    *zoom: 1;
}

.responsivecolumns .column
{
	display:block;
	float:left;
	min-height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ===============================
   ONE COLUMN
   =============================== */

.columns-one div
{
	width: 100%;
}


/* ===============================
   TWO COLUMNS - 20 x 80
   =============================== */

.columns-two-20-80 .columns-two-left
{
	width: 20%;
	margin-right: 0;
}
.columns-two-20-80 .columns-two-right
{
	width: 80%;
	margin-left: 0;
}

@media only screen and (min-width: 480px) and (max-width: 768px)
{
	.columns-two-20-80 .columns-two-left
	{
		
	}
	.columns-two-20-80 .columns-two-right
	{
		
	}
}
@media only screen and (max-width: 479px) 
{
	.columns-two-20-80 .columns-two-left
	{
		
	}
	.columns-two-20-80 .columns-two-right
	{

	}
}


/* ===============================
   THREE COLUMNS - 33 x 34 x 33
   =============================== */

.responsivecolumns .columns-three-left, 
.columns-three-33-34-33 .columns-three-left
{
	width: 30%;
	margin-right: 3%;
}

.responsivecolumns .columns-three-middle, 
.columns-three-33-34-33 .columns-three-middle
{
	width: 30%;
	margin-left: 2%;
	margin-right: 2%;
}

.responsivecolumns .columns-three-right, 
.columns-three-33-34-33 .columns-three-right
{
	width: 30%;
	margin-left: 0%;
}

@media only screen and (max-width: 480px) 
{
	.responsivecolumns .columns-three-left, 
	.columns-three-33-34-33 .columns-three-left
	{
		width: 100%;
	}
	.responsivecolumns .columns-three-middle, 
	.columns-three-33-34-33 .columns-three-middle
	{
		width: 100%;
	}
	.responsivecolumns .columns-three-right, 
	.columns-three-33-34-33 .columns-three-right
	{
		width: 100%;
	}
}


/* ===============================
   FOUR COLUMNS - 25 x 25 x 25 .25
   =============================== */

.responsivecolumns .columns-four-first, 
.columns-four-25-25-25-25 .columns-four-first
{
	width: 22%;
	margin-right: 3%;
}
.responsivecolumns .columns-four-second, 
.columns-four-25-25-25-25 .columns-four-second
{
	width: 23.5%;
	margin-right: 1.5%;
}
.responsivecolumns .columns-four-third, 
.columns-four-25-25-25-25 .columns-four-third
{
	width: 23.5%;
	margin-left: 1.5%;
}
.responsivecolumns .columns-four-fourth, 
.columns-four-25-25-25-25 .columns-four-fourth
{
	width: 22%;
	margin-left: 3%;
}

@media only screen and (min-width: 481px) and (max-width: 768px)
{
	.responsivecolumns .columns-four-first, 
	.columns-four-25-25-25-25 .columns-four-first
	{
	   width: 48.5%;
	   margin-right: 1.5%;
	   margin-bottom: 5%;
	}
	.responsivecolumns .columns-four-second, 
	.columns-four-25-25-25-25 .columns-four-second
	{
	   width: 48.5%;
	   margin-left: 1.5%;
	   margin-right: 0;
	   margin-bottom: 5%;
	}
	.responsivecolumns .columns-four-third, 
	.columns-four-25-25-25-25 .columns-four-third
	{
	   width: 48.5%;
	   margin-right: 1.5%;
	   margin-left: 0;
	   margin-bottom: 5%;
	   clear: both;
	}
	.responsivecolumns .columns-four-fourth, 
	.columns-four-25-25-25-25 .columns-four-fourth
	{
	   width: 48.5%;
	   margin-left: 1.5%;
	   margin-right: 0;
	   margin-bottom: 5%;
	}
}
@media only screen and (max-width: 480px)
{
	.responsivecolumns .columns-four-first, 
	.columns-four-25-25-25-25 .columns-four-first
	{
		width: 100%;
		margin-right: 0;
		margin-bottom: 7%;
	}
	.responsivecolumns .columns-four-second, 
	.columns-four-25-25-25-25 .columns-four-second
	{
		width: 100%;
		margin-right: 0;
		margin-bottom: 7%;
	}
	.responsivecolumns .columns-four-third, 
	.columns-four-25-25-25-25 .columns-four-third
	{
		width: 100%;
		margin-left: 0;
		margin-bottom: 7%;
	}
	.responsivecolumns .columns-four-fourth, 
	.columns-four-25-25-25-25 .columns-four-fourth
	{
		width: 100%;
		margin-left: 0;
		margin-bottom: 7%;
	}
}

