.preview-interface {
  font-size: 14px;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden:focus,
.visuallyhidden:active {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.device-iphone {
  width: 22.8571em;
  height: 40.5714em;
  background: #272a2a;
  padding: 7.4285em 1.2857em;
  border-radius: 4em;
  border: 0.5714em solid #2b2f2f;
  position: relative;
  display: inline-block;
}
.device-iphone:before,
.device-iphone:after {
  content: "";
  position: absolute;
}
.device-iphone.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.device-iphone.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.device-iphone .screen-border {
  overflow: hidden;
}
.device-iphone .screen {
  display: block;
}
.device-iphone:before {
  width: 4.7857em;
  height: 1.1428em;
  border-radius: 7.1428em;
  background: #232525;
  top: 3.8571em;
  left: 10.1428em;
}
.device-iphone:after {
  width: 4.7142em;
  height: 4.7142em;
  border-radius: 7.1428em;
  background: #232525;
  top: 49.4285em;
  left: 10.3571em;
}
.device-iphone.rotate .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40.5714em;
  height: 22.8571em;
}
.device-iphone .screen-border {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22.8571em;
  height: 40.5714em;
  background: #232222;
}
.device-iphone .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22.8571em;
  height: 40.5714em;
  -webkit-transform-origin: 20.25em 20.25em;
  -moz-transform-origin: 20.25em 20.25em;
  -ms-transform-origin: 20.25em 20.25em;
  -o-transform-origin: 20.25em 20.25em;
  transform-origin: 20.25em 20.25em;
}
.device-iphone-inverse {
  width: 22.8571em;
  height: 40.5714em;
  background: #272a2a;
  padding: 7.4285em 1.2857em;
  border-radius: 4em;
  border: 0.5714em solid #2b2f2f;
  position: relative;
  display: inline-block;
  background: #fdfcfc;
}
.device-iphone-inverse:before,
.device-iphone-inverse:after {
  content: "";
  position: absolute;
}
.device-iphone-inverse.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.device-iphone-inverse.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.device-iphone-inverse .screen-border {
  overflow: hidden;
}
.device-iphone-inverse .screen {
  display: block;
}
.device-iphone-inverse:before {
  width: 4.7857em;
  height: 1.1428em;
  border-radius: 7.1428em;
  background: #232525;
  top: 3.8571em;
  left: 10.1428em;
}
.device-iphone-inverse:after {
  width: 4.7142em;
  height: 4.7142em;
  border-radius: 7.1428em;
  background: #232525;
  top: 49.4285em;
  left: 10.3571em;
}
.device-iphone-inverse.rotate .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40.5714em;
  height: 22.8571em;
}
.device-iphone-inverse .screen-border {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22.8571em;
  height: 40.5714em;
  background: #232222;
}
.device-iphone-inverse .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22.8571em;
  height: 40.5714em;
  -webkit-transform-origin: 20.25em 20.25em;
  -moz-transform-origin: 20.25em 20.25em;
  -ms-transform-origin: 20.25em 20.25em;
  -o-transform-origin: 20.25em 20.25em;
  transform-origin: 20.25em 20.25em;
}
.device-tablet {
  height: 73.1428em;
  width: 54.8571em;
  background: #272a2a;
  padding: 8.7857em 7.5714em;
  border-radius: 4em;
  border: 0.2142em solid #2b2f2f;
  position: relative;
  display: inline-block;
}
.device-tablet:before,
.device-tablet:after {
  content: "";
  position: absolute;
}
.device-tablet.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.device-tablet.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.device-tablet .screen-border {
  overflow: hidden;
}
.device-tablet .screen {
  display: block;
}
.device-tablet:before {
  width: 1.0714em;
  height: 1.0714em;
  border-radius: 7.1428em;
  background: #232525;
  top: 4.1428em;
  left: 34.5em;
}
.device-tablet:after {
  width: 5.1428em;
  height: 5.1428em;
  border-radius: 100px;
  background: #232525;
  top: 83.7142em;
  left: 32.4285em;
}
.device-tablet.rotate .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 73.1428em;
  height: 54.8571em;
}
.device-tablet .screen-border {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 54.8571em;
  height: 73.1428em;
  background: #232222;
}
.device-tablet .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 54.8571em;
  height: 73.1428em;
  -webkit-transform-origin: 36.55em 36.55em;
  -moz-transform-origin: 36.55em 36.55em;
  -ms-transform-origin: 36.55em 36.55em;
  -o-transform-origin: 36.55em 36.55em;
  transform-origin: 36.55em 36.55em;
}
.device-tablet-inverse {
  height: 73.1428em;
  width: 54.8571em;
  background: #272a2a;
  padding: 8.7857em 7.5714em;
  border-radius: 4em;
  border: 0.2142em solid #2b2f2f;
  position: relative;
  display: inline-block;
  background: #fdfcfc;
}
.device-tablet-inverse:before,
.device-tablet-inverse:after {
  content: "";
  position: absolute;
}
.device-tablet-inverse.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.device-tablet-inverse.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.device-tablet-inverse .screen-border {
  overflow: hidden;
}
.device-tablet-inverse .screen {
  display: block;
}
.device-tablet-inverse:before {
  width: 1.0714em;
  height: 1.0714em;
  border-radius: 7.1428em;
  background: #232525;
  top: 4.1428em;
  left: 34.5em;
}
.device-tablet-inverse:after {
  width: 5.1428em;
  height: 5.1428em;
  border-radius: 100px;
  background: #232525;
  top: 83.7142em;
  left: 32.4285em;
}
.device-tablet-inverse.rotate .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 73.1428em;
  height: 54.8571em;
}
.device-tablet-inverse .screen-border {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 54.8571em;
  height: 73.1428em;
  background: #232222;
}
.device-tablet-inverse .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 54.8571em;
  height: 73.1428em;
  -webkit-transform-origin: 36.55em 36.55em;
  -moz-transform-origin: 36.55em 36.55em;
  -ms-transform-origin: 36.55em 36.55em;
  -o-transform-origin: 36.55em 36.55em;
  transform-origin: 36.55em 36.55em;
}
.device-macbookair {
  width: 73.1428em;
  height: 54.8571em;
  background: #272a2a;
  padding: 7.5714em 8.7857em;
  border-radius: 4em 4em 0 0;
  border: 0.2142em solid #2b2f2f;
  position: relative;
  display: inline-block;
}
.device-macbookair:before,
.device-macbookair:after {
  content: "";
  position: absolute;
}
.device-macbookair.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.device-macbookair.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.device-macbookair .screen-border {
  overflow: hidden;
}
.device-macbookair .screen {
  display: block;
}
.device-macbookair:after {
  background: #f4f5f7;
  bottom: -3.5em;
  height: 5.5em;
  border-radius: 0 0 5em 5em;
  left: -16em;
  right: -16em;
}
.device-macbookair .screen {
  top: 7.5714em;
  right: 8.7857em;
  bottom: 7.5714em;
  left: 7.5714em;
  left: 8.7857em;
  height: 54.8571em;
  width: 73.1428em;
  -webkit-transform-origin: 37.7142em 36.571em;
  -moz-transform-origin: 37.7142em 36.571em;
  -ms-transform-origin: 37.7142em 36.571em;
  -o-transform-origin: 37.7142em 36.571em;
  transform-origin: 37.7142em 36.571em;
}
.device-macbookair.rotate {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.device-macbookair.rotate .screen {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.device-macbookair-inverse {
  width: 73.1428em;
  height: 54.8571em;
  background: #272a2a;
  padding: 7.5714em 8.7857em;
  border-radius: 4em 4em 0 0;
  border: 0.2142em solid #2b2f2f;
  position: relative;
  display: inline-block;
  background: #fdfcfc;
}
.device-macbookair-inverse:before,
.device-macbookair-inverse:after {
  content: "";
  position: absolute;
}
.device-macbookair-inverse.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.device-macbookair-inverse.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.device-macbookair-inverse .screen-border {
  overflow: hidden;
}
.device-macbookair-inverse .screen {
  display: block;
}
.device-macbookair-inverse:after {
  background: #f4f5f7;
  bottom: -3.5em;
  height: 5.5em;
  border-radius: 0 0 5em 5em;
  left: -16em;
  right: -16em;
}
.device-macbookair-inverse .screen {
  top: 7.5714em;
  right: 8.7857em;
  bottom: 7.5714em;
  left: 7.5714em;
  left: 8.7857em;
  height: 54.8571em;
  width: 73.1428em;
  -webkit-transform-origin: 37.7142em 36.571em;
  -moz-transform-origin: 37.7142em 36.571em;
  -ms-transform-origin: 37.7142em 36.571em;
  -o-transform-origin: 37.7142em 36.571em;
  transform-origin: 37.7142em 36.571em;
}
.device-macbookair-inverse.rotate {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.device-macbookair-inverse.rotate .screen {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.view-toolbar {
  background: #424242;
}
.view-controls {
  float: left;
  list-style: none;
  margin: 0 2em;
  padding: 0;
  position: relative;
}
.view-controls li {
  display: inline-block;
  border-right: 1px solid #5d5d5d;

  &:first-child {
    border-left: 1px solid #5d5d5d;
  }
}
.view-controls .view-control {
  background: none;
  padding: 0 1.4em;
  border: 0;
  margin: 0;
  height: 60px;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.view-controls .view-control:active,
.view-controls .view-control.selected {
  background: #343434;
}
.view-controls .view-control:active .device-icon .screen,
.view-controls .view-control.selected .device-icon .screen {
  background: #1c1c1c;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.view-controls .view-control:focus {
  outline: none;
}
.view-controls .iphone-item .text,
.view-controls .tablet-item .text,
.view-controls .auto-item .text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.view-controls .iphone-item .text:focus,
.view-controls .tablet-item .text:focus,
.view-controls .auto-item .text:focus,
.view-controls .iphone-item .text:active,
.view-controls .tablet-item .text:active,
.view-controls .auto-item .text:active {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@media only screen and (max-width: 32.4285em) {
  .view-controls .iphone-item {
    display: none;
  }
}
@media only screen and (max-width: 55.7142em) {
  .view-controls .tablet-item {
    display: none;
  }
}
@media only screen and (max-width: 71.4285em) {
  .view-controls .desktop-item {
    display: none;
  }
}
@media only screen and (max-width: 32.4285em) {
  .view-controls .auto-item {
    display: none;
  }
}
.view-controls .device-icon {
  font-size: 0.0535em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.view-controls .device-icon .screen {
  background: #2b2b2b;
}
.view-controls .device-icon-iphone {
  display: inline-block;
  width: 52px;
  height: 33px;
  background-image: url('images/mobile.png');
  background-repeat: no-repeat;
  background-position: center;
}
.view-controls .device-icon-iphone.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.view-controls .device-icon-tablet {
  display: inline-block;
  width: 52px;
  height: 33px;
  background-image: url('images/tablet.png');
  background-repeat: no-repeat;
  background-position: center;
}
.view-controls .device-icon-tablet.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.view-controls .device-icon-auto {
  display: inline-block;
  width: 52px;
  height: 33px;
  background-image: url('images/desktop.png');
  background-repeat: no-repeat;
  background-position: center;
}
.view-controls .device-icon-auto:before,
.view-controls .device-icon-auto:after {
  content: "";
  position: absolute;
}
.view-controls .device-icon-auto.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.view-controls .device-icon-auto.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.view-controls .device-icon-auto .screen-border {
  overflow: hidden;
}
.view-controls .device-icon-auto .screen {
  display: block;
}
.view-controls .device-icon-auto .screen {
  top: 7.5714em;
  right: 8.7857em;
  bottom: 7.5714em;
  left: 7.5714em;
  left: 8.7857em;
  height: 54.8571em;
  width: 73.1428em;
  -webkit-transform-origin: 37.7142em 36.571em;
  -moz-transform-origin: 37.7142em 36.571em;
  -ms-transform-origin: 37.7142em 36.571em;
  -o-transform-origin: 37.7142em 36.571em;
  transform-origin: 37.7142em 36.571em;
}
.view-controls .device-icon-auto.rotate {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.view-controls .device-icon-auto.rotate .screen {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.view-controls .view-control-desktop:after {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPGc+CgkJPHBhdGggZD0iTTk1LjkxLDUuODJINC4xMzljLTEuODc4LDAtMy4zOTksMS41MjMtMy4zOTksMy40MDF2NTkuNzAyYzAsMS44NzgsMS41MjEsMy40LDMuMzk5LDMuNEg5NS45MSAgICBjMS44NzgsMCwzLjQwMi0xLjUyMiwzLjQwMi0zLjRWOS4yMjFDOTkuMzEyLDcuMzQzLDk3Ljc4OCw1LjgyLDk1LjkxLDUuODJ6IE05My42NDQsNjYuNjU2SDYuNDA0VjExLjQ4OGg4Ny4yMzlWNjYuNjU2eiIvPgoJCTxwb2x5Z29uIHBvaW50cz0iNjYuMDYxLDkzLjEwNSAzNi41ODcsOTMuMTA1IDQyLjI1NSw3Mi4zMjMgNjAuMzkyLDcyLjMyMyAgICIvPgoJPC9nPgoJPHJlY3QgeD0iMzIuNzM2IiB5PSI5My4xMDUiIHdpZHRoPSIzNi45NjQiIGhlaWdodD0iMS4wODMiLz4KPC9nPgo8L3N2Zz4=') no-repeat center center;
  background-size: 2.5em 2.5em;
}
.preview-selector-form {
  float: right;
}
.preview-container {
  position: relative;
  margin: 4em auto 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.preview-container .screen-border {
  -webkit-transition: width, height, 0.5s ease;
  -moz-transition: width, height, 0.5s ease;
  -o-transition: width, height, 0.5s ease;
  transition: width, height, 0.5s ease;
}
.preview-container::before,
.preview-container::after {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.preview-container.iphone {
  width: 22.8571em;
  height: 40.5714em;
  background: #272a2a;
  padding: 7.4285em 1.2857em;
  border-radius: 4em;
  border: 0.5714em solid #2b2f2f;
  position: relative;
  display: inline-block;
  display: block;
  -webkit-transform-origin: 290px 290px;
  -moz-transform-origin: 290px 290px;
  -ms-transform-origin: 290px 290px;
  -o-transform-origin: 290px 290px;
  transform-origin: 290px 290px;
}
.preview-container.iphone:before,
.preview-container.iphone:after {
  content: "";
  position: absolute;
}
.preview-container.iphone.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.preview-container.iphone.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.preview-container.iphone .screen-border {
  overflow: hidden;
}
.preview-container.iphone .screen {
  display: block;
}
.preview-container.iphone:before {
  width: 4.7857em;
  height: 1.1428em;
  border-radius: 7.1428em;
  background: #232525;
  top: 3.8571em;
  left: 10.1428em;
}
.preview-container.iphone:after {
  width: 4.7142em;
  height: 4.7142em;
  border-radius: 7.1428em;
  background: #232525;
  top: 49.4285em;
  left: 10.3571em;
}
.preview-container.iphone.rotate .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40.5714em;
  height: 22.8571em;
}
.preview-container.iphone .screen-border {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22.8571em;
  height: 40.5714em;
  background: #232222;
}
.preview-container.iphone .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22.8571em;
  height: 40.5714em;
  -webkit-transform-origin: 20.25em 20.25em;
  -moz-transform-origin: 20.25em 20.25em;
  -ms-transform-origin: 20.25em 20.25em;
  -o-transform-origin: 20.25em 20.25em;
  transform-origin: 20.25em 20.25em;
}
.preview-container.iphone .site-preview iframe {
  width: inherit;
  height: inherit;
}
.preview-container.tablet {
  height: 73.1428em;
  width: 54.8571em;
  background: #272a2a;
  padding: 8.7857em 7.5714em;
  border-radius: 4em;
  border: 0.2142em solid #2b2f2f;
  position: relative;
  display: inline-block;
  display: block;
  -webkit-transform-origin: 565px 565px;
  -moz-transform-origin: 565px 565px;
  -ms-transform-origin: 565px 565px;
  -o-transform-origin: 565px 565px;
  transform-origin: 565px 565px;
}
.preview-container.tablet:before,
.preview-container.tablet:after {
  content: "";
  position: absolute;
}
.preview-container.tablet.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.preview-container.tablet.rotate .screen {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}
.preview-container.tablet .screen-border {
  overflow: hidden;
}
.preview-container.tablet .screen {
  display: block;
}
.preview-container.tablet:before {
  width: 1.0714em;
  height: 1.0714em;
  border-radius: 7.1428em;
  background: #232525;
  top: 4.1428em;
  left: 34.5em;
}
.preview-container.tablet:after {
  width: 5.1428em;
  height: 5.1428em;
  border-radius: 100px;
  background: #232525;
  top: 83.7142em;
  left: 32.4285em;
}
.preview-container.tablet.rotate .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 73.1428em;
  height: 54.8571em;
}
.preview-container.tablet .screen-border {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 54.8571em;
  height: 73.1428em;
  background: #232222;
}
.preview-container.tablet .screen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 54.8571em;
  height: 73.1428em;
  -webkit-transform-origin: 36.55em 36.55em;
  -moz-transform-origin: 36.55em 36.55em;
  -ms-transform-origin: 36.55em 36.55em;
  -o-transform-origin: 36.55em 36.55em;
  transform-origin: 36.55em 36.55em;
}
.preview-container.tablet .site-preview iframe {
  width: inherit;
  height: inherit;
}
.preview-container.auto {
  height: 40.5714em;
  border: none;
  border-radius: 0.4285em;
  background-color: #b0b0b0;
  padding-top: 2.8571em;
  width: 90%;
  max-width: 1220px;
  max-height: 740px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
@media only screen and (min-height: 46.25em) {
  .preview-container.auto {
    height: 70vh;
  }
}
@media only screen and (min-height: 58.75em) {
  .preview-container.auto {
    height: 75vh;
  }
}
@media only screen and (min-height: 66.875em) {
  .preview-container.auto {
    height: 80vh;
  }
}
.preview-container.auto:before {
  content: "";
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT5TbGljZSAxPC90aXRsZT48ZyBza2V0Y2g6dHlwZT0iTVNMYXllckdyb3VwIiBmaWxsPSIjQkVCRUJFIj48ZWxsaXBzZSBpZD0iT3ZhbC01NSIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgY3g9IjkuNDE0IiBjeT0iOS41MjgiIHJ4PSI5LjQxNCIgcnk9IjkuNTI4Ii8+PGVsbGlwc2UgaWQ9Ik92YWwtNTUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGN4PSI0MS40MjIiIGN5PSI5LjUyOCIgcng9IjkuNDE0IiByeT0iOS41MjgiLz48ZWxsaXBzZSBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBjeD0iNzMuNDMiIGN5PSI5LjUyOCIgcng9IjkuNDE0IiByeT0iOS41MjgiLz48L2c+PC9zdmc+') no-repeat center center;
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 5em;
  height: 2em;
  background-size: 4em;
}
.preview-container.auto .screen-border {
  position: absolute;
  top: 2.8571em;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.preview-container.auto .site-preview {
  width: 100%;
  height: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.preview-container.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.preview-container.no-transition::before,
.preview-container.no-transition::after,
.preview-container.no-transition .screen-border,
.preview-container.no-transition .site-preview {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.site-preview {
  display: block;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width, height, 0.5s ease 0.5s;
  -moz-transition: width, height, 0.5s ease 0.5s;
  -o-transition: width, height, 0.5s ease 0.5s;
  transition: width, height, 0.5s ease 0.5s;
}
.site-preview iframe {
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
}
.no-delay .site-preview {
  -webkit-transition: width, height, 0.5s ease;
  -moz-transition: width, height, 0.5s ease;
  -o-transition: width, height, 0.5s ease;
  transition: width, height, 0.5s ease;
}
.mobile-webkit .site-preview {
  overflow: auto;
}
