{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

<!-- HEADER !-->
{% include '/includes/header.twig' %}

<!-- SUB NAV BAR !-->
<section class="partners-subnav">
    <div class="wrapper">
        <h2 class="hwhite">{{ page.title }}</h2>
    </div>
</section>

<div class="wrapper main">
    {{widget('signupform', 'thisunqiuewidgetname', {'text': 'Send', 'label': 'Your Email', 'formTitle': 'Signup Form', 'email': 'profile'})|raw}}
    {{zone('main')|raw}}
</div>

<!-- PARTNER BAR !-->
{% include '/includes/partner-bar.twig' %}

</div>

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

{% endblock %}
