{% extends "layout.twig" %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $(".tab_content").hide();
        $(".tab_content:first").show();

         /* if in tab mode */
        $("ul.tabs li").click(function() {
            
          $(".tab_content").hide();
          var activeTab = $(this).attr("rel"); 
          $("#"+activeTab).fadeIn();        
            
          $("ul.tabs li").removeClass("active");
          $(this).addClass("active");

          $(".tab_drawer_heading").removeClass("d_active");
          $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
          
        });
        /* if in drawer mode */
        $(".tab_drawer_heading").click(function() {
          
          $(".tab_content").hide();
          var d_activeTab = $(this).attr("rel"); 
          $("#"+d_activeTab).fadeIn();
          
          $(".tab_drawer_heading").removeClass("d_active");
          $(this).addClass("d_active");
          
          $("ul.tabs li").removeClass("active");
          $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
        });
    });
</script>

<!-- EDITOR !-->
<section class="ui-graphic green">
    <div class="editor">
        <div class="wrapper">
            <h2 class="hwhite">Provide clients with an easy-to-use, responsive CMS.</h2>

            <!-- TABBED CONTENT !-->
            <div class="tabbed-content">
                <ul class="tabs clearfix">
                    <li class="active" rel="tab1">Widgets</li>
                    <li rel="tab2">Responsive</li>
                    <li rel="tab3">Live Editing</li>
                </ul>
                <div class="tab-container">
                    <!-- TAB 1 !-->
                    <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
                    <div id="tab1" class="tab_content">
                        <div class="green-browser developer">
                            <div class="editor-grc slide-widgets">
                                <div class="controls">
                                    <span></span><span></span><span></span>
                                </div>
                                <!-- CALLOUTS !-->
                                <div class="callouts desktop">
                                    <div class="hard-code">
                                        <div class="callout dark">
                                            <h4>Hard-coded elements</h4>
                                            <p>In development, you can choose whether to use a widget or hard- code elements onto a page.</p>
                                        </div>
                                    </div>
                                    <div class="editable">
                                        <div class="callout dark">
                                            <h4>Widgets</h4>
                                            <p>In this example, the ‘Feature’ has been inserted as a widget - this means the user is able to edit the widget settings.</p>
                                        </div>
                                    </div>
                                    <div class="zone">
                                        <div class="callout dark">
                                            <h4>Content zone</h4>
                                            <p>The content ‘zone’ is where a user can drag/drop and delete widgets. There is only 1 zone per page.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- NUMBERS !-->
                                <div class="numbers tablet">
                                    <ul class="tt-wrapper">
                                        <li>
                                            <a class="tt-hard-code">1<span class="dark"><p>In development, you can choose whether to use a widget or hard- code elements onto a page.</p></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="tt-editable">2<span class="dark"><p>In this example, the ‘Feature’ has been inserted as a widget - this means the user is able to edit the widget settings.</p></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="tt-zone1">3<span class="dark"><p>The content ‘zone’ is where a user can drag/drop and delete widgets. There is only 1 zone per page.</p></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="number-info tablet">
                                    <h4>Press a number above for more information</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TAB 2 -->
                    <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
                    <div id="tab2" class="tab_content">
                        <div class="green-browser developer">
                            <div class="editor-grc slide-responsive">
                                <div class="controls">
                                    <span></span><span></span><span></span>
                                </div>
                                <!-- CALLOUTS !-->
                                <div class="callouts desktop">
                                    <div class="hard-code">
                                        <div class="callout dark">
                                            <h4>Responsive Views</h4>
                                            <p>Clients can live preview and edit their site on multiple devices.</p>
                                        </div>
                                    </div>
                                    <div class="editable">
                                        <div class="callout dark">
                                            <h4>Visual Device Aids</h4>
                                            <p>In this example, the ‘Feature’ has been inserted as a widget - this means the user is able to edit the widget settings.</p>
                                        </div>
                                    </div>
                                    <div class="zone">
                                        <div class="callout dark">
                                            <h4>Adaptable Content</h4>
                                            <p>The content ‘zone’ is where a user can drag/drop and delete widgets. There is only 1 zone per page.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TAB 3 -->
                    <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>
                    <div id="tab3" class="tab_content">
                        <div class="green-browser developer">
                            <div class="editor-grc slide-live-editing">
                                <div class="controls">
                                    <span></span><span></span><span></span>
                                </div>
                                <!-- CALLOUTS !-->
                                <div class="callouts desktop">
                                    <div class="hard-code">
                                        <div class="callout dark">
                                            <h4>Edit / Preview Modes</h4>
                                            <p>In development, you can choose whether to use a widget or hard- code elements onto a page.</p>
                                        </div>
                                    </div>
                                    <div class="editable">
                                        <div class="callout dark">
                                            <h4>Instant Publishing</h4>
                                            <p>In this example, the ‘Feature’ has been inserted as a widget - this means the user is able to edit the widget settings.</p>
                                        </div>
                                    </div>
                                    <div class="zone">
                                        <div class="callout dark">
                                            <h4>Live Site Editing</h4>
                                            <p>The user can drag, drop and add widgets from the 'contents' menu with the editor in the UI.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TABBED CONTENT !-->

        </div>
    </div>
</section>

<!-- DEVELOPER ROOF !-->
<section class="developer-roof LightGrey">
    <div class="wrapper">
        <hgroup class="section-title">
            <h2 class="h2-36pad text-center">All under one developer roof</h2>
            <h5>A problem shared is a problem halved. But thanks to BaseKit’s online help resources, a problem shared with the community, is a problem solved. Let’s build better. Together.</h5>
        </hgroup>
        <!-- COMMUNITY RESOURCES !-->
        <div class="community-resources LightGrey">
            <div class="res-col columns span-30-31-30">
                <div class="circle-graphics clearfix">
                    <div class="column span-three-left">
                        <img src="{{asset('/images/bk-docs-img.png')}}">
                        <h3 class="line">Documentation</h3><p>Read our <a href="http://developers.basekit.com" class="blue">online documentation</a> and start building your own template.</p>
                    </div>
                    <div class="column span-three-middle">
                        <img src="{{asset('/images/bk-support-img.png')}}">
                        <h3 class="line">Questions &amp; Answers</h3><p>Having trouble with your BaseKit website? Head over to our <a href="https://basekit.zendesk.com/home" class="blue">knowledge</a> section.</p>
                    </div>
                    <div class="column span-three-right">
                        <img src="{{asset('/images/bk-work-img.png')}}">
                        <h3 class="line">Workshop</h3><p>Prepare yourselves for our all new workshop pages - coming soon.</p>
                    </div>
                </div>
                <div class="divider alt"></div>
                <!--FLEX WITH US !-->
                <div class="flex-col">
                     <div class="component">
                        <h3>Flex with us for free</h3>
                    </div>
                    <div class="component">
                        <p>We believe that flexible and hassle-free accounts allow you guys and gals/pros to (just) get on with what you do best - flexing those creative muscles. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="account-info">
                     <div class="component">
                        <i class="icon publish"></i>
                        <h3>Plus Publishing</h3>
                        <p>Unlimited site publishing. One account, mutliple sites.</p>
                    </div>
                    <div class="component">
                        <i class="icon access"></i>
                        <h3>First Access</h3>
                        <p>Developers have first access to BK features - lorem ipsum.</p>
                    </div>
                     <div class="component">
                        <i class="icon testing"></i>
                        <h3>Beta Testing</h3>
                        <p>Lorem ipsum dolor sit amet usmod tempor incididunt.</p>
                    </div>
                    <div class="component">
                        <i class="icon free"></i>
                        <h3>Free Forever</h3>
                        <p>Lorem ipsum dolor sit amet usmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- GOOD COMPANY !-->
<section class="good-company blue">
    <div class="wrapper">
        <hgroup class="section-title">
            <h2 class="h2-36pad white">You’re in good company</h2>
            <h5 class="white">We’ve got big ideas, big aims and huge ambitions - so if you want to be part of something exciting, get onboard.</h5>
        </hgroup>
        <div class="company-usps account-info">
             <div class="component green">
                <h2 class="white">16 Languages</h2>
                <h5 class="white">The BaseKit editor can be used for 16 languages</h5>
            </div>
            <div class="component white">
                <h2>1 Million Sites</h2>
                <h5>Over 1 million BaseKit sites created - and counting</h5>
            </div>
             <div class="component blue">
                <h2 class="white">120 Partners</h2>
                <h5 class="white">Trusted by 120 hosting partners - and counting</h5>
            </div>
        </div>
    </div>
</section>

<!-- PARTNER BAR !-->
<section class="partner-bar developer LightGrey">
    <div class="wrapper">
        <div class="res-col columns span-70-30">
            <div class="column span-70">
                <hgroup>
                    <h3>Signup for a developer account today</h3><h5>Start creating templates using our Template Development Kit</h5>
                </hgroup>
            </div>
            <div class="column span-30">
                <a href="/partners" class="button main-btn green switch">Signup for Free</a>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER !-->
{% include '/includes/dev-footer.twig' %}

{% endblock %}
